# Binaries
bin/
server/server
server/main

# Node.js
node_modules/
dist/
web-client/dist/

# Env & Secrets
.env
.env.*
!.env.example

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
deploy/data/

# Go
report.json
coverage.out
