# Binaries
bin/
server/server
server/main

# Runtime data (keep structure, ignore content)
server/data/**
!server/data/**/.gitkeep

# Node.js
node_modules/
dist/
web-client/dist/

# Env & Secrets
.env
.env.*
!.env.example

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
deploy/data/

# Go
report.json
coverage.out
